
    @import "https://fonts.googleapis.com/css?family=Open+Sans:light,normal&subset=cyrillic";
    h1,
    h4,
    h5 {
      font-family: "Open Sans", sans-serif;
    }
    
    @font-face {
      font-family: "Ionicons";
      src: url("https://cdn.rawgit.com/ionic-team/ionicons/6811b241/fonts/ionicons.eot?v=2.0.1");
      src: url("https://cdn.rawgit.com/ionic-team/ionicons/6811b241/fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"), url("https://cdn.rawgit.com/ionic-team/ionicons/6811b241/fonts/ionicons.ttf?v=2.0.1") format("truetype"), url("https://cdn.rawgit.com/ionic-team/ionicons/6811b241/fonts/ionicons.woff?v=2.0.1") format("woff"), url("https://cdn.rawgit.com/ionic-team/ionicons/6811b241/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg");
      font-weight: normal;
      font-style: normal;
    }
    
    .ion-ios-help-outline:before {
      content: "\f445";
    }
    
    .ion-ios-help-outline {
      display: inline-block;
      font-family: "Ionicons";
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-rendering: auto;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    
    @media (max-width: 450px) {
      .container {
        justify-content: center !important;
      }
    }
    
    .form-control,
    .input-group-sm,
    .container,
    #thankyou_message {
      font-family: "Open Sans", sans-serif !important;
      font-size: 13px !important;
    }
    
    .container {
      max-width: 400px !important;
      /*         line-height: 1; */
    }
    
    .was-validated .form-control:valid,
    .was-validated .form-control:valid:focus,
    .form-control.is-valid,
    .was-validated .custom-select:valid,
    .custom-select.is-valid {
      border-color: rgb(206, 212, 218);
    }
    
    .was-validated .form-control:invalid,
    .form-control.is-invalid,
    .was-validated .custom-select:invalid,
    .custom-select.is-invalid {
      border-color: #dc3545 !important;
      -moz-border-radius: none;
      -webkit-border-radius: none;
      -khtml-border-radius: none;
    }
    
    .form-control:focus,
    .btn:focus,
    .btn.focus,
    .fancybox-button:focus,
    a:focus {
      outline: none;
      box-shadow: none !important;
    }
    
    .icon {
      font-size: 13px;
      padding-right: 0px;
      padding-left: 0px;
    }
    
    .col1 {
      width: 300px;
    }
    
    #button {
      width: 170px;
    }
    
    .sumInput {
      max-width: 75px;
    }
    
    .form-group {
      margin-bottom: 0.315rem;
    }
    
    select.form-control-sm {
      height: 28px !important;
    }
    
    select::-ms-expand {
      display: none;
    }
    
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
    }
    
    #conditions {
      color: #9570ba;
    }
    
    #conditions:hover {
      color: #9570ba;
    }
    
    .icon {
      color: #212529;
    }
    
    input {
      color: #212529 !important;
    }
    
    select {
      color: #6c757d !important;
    }
    
    .text15 {
      font-size: 15px !important;
      color: #9570ba !important;
    }
    
    .icon {
      font-size: 22px;
    }
    
    .btn-outline-dark:not(:disabled):not(.disabled).active,
    .btn-outline-dark:not(:disabled):not(.disabled).active:hover,
    .btn-dark:hover,
    .btn-dark {
      background-color: #2c2a29;
      border-color: #2c2a29;
    }
    
    .btn-outline-dark:hover {
      color: #2c2a29;
      background-color: white;
      border-color: #9570ba;
    }
    
    .btn-sm {
      font-size: 13px;
    }
    
    body {
      background-color: transparent !important;
    }
    
    .form-check-input {
      margin-top: 0px;
      position: static;
    }
    
    label {
      vertical-align: middle;
    }
    
    .form-control:focus {
      border-bottom-color: #212529;
    }
    
    input:-ms-input-placeholder {
      color: #6c757d !important;
    }
    
    .form-check-label,
    .was-validated .form-check-input:valid + .form-check-label {
      color: #6c757d;
    }
    
    input:checked + label,
    .was-validated .form-check-input:valid:checked + .form-check-label {
      color: #212529;
    }
    

