@import "https://fonts.googleapis.com/css?family=Roboto:light,normal|Open+Sans:light,normal&subset=cyrillic";
h1,
h4,
h5 {
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 450px) {
  
  .container {
    justify-content: center !important;
  }
  
}

/* font-size */
.form-control, .input-group-sm, .container, #thankyou_message {
  font-family: "Open Sans", sans-serif !important;
  font-size: 13px !important;
}

.container {
  max-width: 400px !important;
/*         line-height: 1; */
}

/* remove green after validation */
.was-validated .form-check-input:valid + .form-check-label,
.form-check-input.is-valid + .form-check-label {
  color: black;
}

.was-validated .form-control:valid, .was-validated .form-control:valid:focus,
.form-control.is-valid,
.was-validated .custom-select:valid,
.custom-select.is-valid {
  border-color: rgb(206, 212, 218); /* серый */
}

/* red underscore after validation */
.was-validated .form-control:invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.custom-select.is-invalid {
  border-color: #dc3545 !important;
  -moz-border-radius: none;
  -webkit-border-radius: none;
  -khtml-border-radius: none;
}

/* remove blue border for active input areas*/
.form-control:focus,
.btn:focus,
.btn.focus, .fancybox-button:focus, 
a:focus {
  outline: none;
  box-shadow: none !important;
}


.icon {
  font-size: 13px;
  padding-right: 0px;
  padding-left: 0px;
}

.col1 {
  /*   min-width: 150px; */
  width: 300px;
}

#button {
  width: 170px;
}

.sumInput {
  max-width: 75px;
}


/* расстояние между строками */
.form-group {
  margin-bottom: 0.315rem;
/*   height: 28px !important; */
}

/* ширина селектов */
select.form-control-sm {
  height: 28px !important;
}

/* для того, чтобы убрать признаки дропдауна*/
select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
}

/* расстояние между плэйсхолдером в инпуте и полоской */
/* .simpleInput, select {
  padding-bottom: 0px !important;
} */


/*link color - purple */
#conditions {
  color: #9570ba;
}
#conditions:hover {
  color: #9570ba;
}

/* info icon url color*/
.icon {
  color: #212529;
}



/* цвет заполненных форм gray #212529*/
input {
  color: #212529 !important;
}

/* цвет radiolabel & checkbox — light grey*/
.form-check-label {
    color: #6c757d;
}

select {
    color: #6c757d !important;
}

/* размер суммы */
.text15 {
  font-size: 15px !important;
  color: #9570ba !important;
}

.icon {
  font-size: 22px;
}

/* цвет кнопок */
.btn-outline-dark:not(:disabled):not(.disabled).active, .btn-outline-dark:not(:disabled):not(.disabled).active:hover,
 .btn-dark:hover, .btn-dark {
    background-color: yellow; /* #2c2a29 */
    border-color: #2c2a29;
}

.btn-outline-dark:hover {
/*   border-width: 2px; */
  color: black ;
  background-color:  white;
  border-color: #9570ba ;
}

/* размер шрифта на кнопках */
.btn-sm {
  font-size: 13px;
}

/* чтобы было видно выдру */
body {
  background-color: transparent !important;
}


/* для радио и чекбокса, чтобы не криво */
.form-check-input {
  margin-top:0px;
  position: static;
    
}

/* для радио и чекбокса */
label {
  vertical-align: middle;

}

/*цвет активных инпут-форм*/
.form-control:focus {
  border-bottom-color: #212529;
}

/* label:focus, label:active, label:focus-within {
  color:red;
  
} */